[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
redis = "*"
pymysql = "*"
flask = "*"
gevent = "*"
platformshconfig = "~=2.0"

[requires]
python_version = "3.7"

[dev-packages]
