[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
"psycopg2-binary" = "*"
gunicorn = "*"
platformshconfig = "*"
wagtail = "*"
django = "*"

[requires]
python_version = "3.9"

[dev-packages]
