[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.0.0"
redis = "*"
pymysql = "*"
gevent = "*"
platformshconfig = "~=2.0"

[dev-packages]

[requires]
python_version == "3.9"
