[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = ">=2.0"
platformshconfig = "~=2.0"
redis = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
