# The routes of the project.
#
# Each route describes how an incoming URL is going to be processed.

"https://{default}/":
    type: upstream
    upstream: "app:http"
    cache:
        enabled: false

"https://www.{default}/":
    type: redirect
    to: "https://{default}/"
